@using DataAccess.CustomModel;
@using DataAccess.Enums;
@model DashboardModel;

<div class="container-fluid p-4 pb-0 ">
    <div class="d-flex justify-content-between">
        <span class="fw-bold">
            <span class="fs-4">Patients</span>
            <span style="color: darkblue;">(New)</span>
        </span>
        <span class="d-flex gap-1 gap-md-2">
            <button class="action-btn my-3 d-flex gap-2 dark-mode1" onclick="SendLinkActive()">
                <i class="bi bi-send"></i> <span class="d-none d-md-block">
                    Send
                    Link
                </span>
            </button>
            <button class="action-btn my-3 d-flex gap-2 dark-mode1" onclick="location.href='@Url.Action("CreateReq", "Admin")'">
                <i class="bi bi-journal-text"></i> <span class="d-none d-md-block">Create Request</span>
            </button>
            <button class="action-btn my-3 d-flex gap-2 dark-mode1" onclick="ExpertSingleTab(3)">
                <i class="bi bi-reply"></i> <span class="d-none d-md-block" id="actexportbtn">Export</span>
            </button>
            <button class="action-btn my-3 d-flex gap-2 dark-mode1">
                <i class="bi bi-reply-all"></i> <span class="d-none d-md-block" onclick="ExportAll()">Export All</span>
            </button>
            <button class="action-btn my-3 d-flex gap-2 dark-mode1">
                <i class="bi bi-person"></i> <span class="d-none d-md-block">
                    Request
                    DTY Support
                </span>
            </button>
        </span>
    </div>
    <div class="row mt-3 dark-mode1">
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="my-search-input" placeholder="Search">
                <label for="floatingInput"><i class="bi bi-search"></i> Search</label>
            </div>
        </div>
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Regions</option>
                    <option value="1">new york</option>
                    <option value="2">usa</option>
                </select>
                <label for="floatingSelect"><i class="bi bi-search"></i> All Regions</label>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-around align-items-center">
            <div class="d-none d-md-block">
                <div onclick="allElements()" style="cursor:pointer" class="border-2">All</div>
            </div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="patientElements()"><div class="patient_circle"></div><span>Patient</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="familyFriendElements()"><div class="family_circle"></div><span>Friend/Family</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="businessElements()"><div class="business_circle"></div><span> Business</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="conciergeElements()"><div class="concierge_circle"></div><span> Concierge</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer"><div class="vip_circle"></div><span> VIP</span></div>

        </div>
    </div>

</div>

<div class="d-none d-md-block">
    <table class="table table-hover data-table" id="data-table-active">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chats With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.adminDashboardList)
            {
                if (item.status == 4 || item.status == 5)
                {
                    var bgColor = "He";

                    @if (item.requestTypeId == 1)
                    {
                        bgColor = "#60be5e";
                    }
                    else if (item.requestTypeId == 2)
                    {
                        bgColor = "#e69232";
                    }
                    else if (item.requestTypeId == 3)
                    {
                        bgColor = "#d76879";
                    }
                    else if (item.requestTypeId == 4)
                    {
                        bgColor = "#0b7ebf";
                    }

                    <tr class="tablerows ">
                        @*1*@
                        <td style="background:@bgColor">
                            <div class="table_name_email">

                                @item.firstName, @item.lastName
                                <a href="">
                                    @* <img src="~/img/email.png" style="height:20px;width:20px"> *@
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </div>
                        </td>
                        @*2*@
                        <td style="background:@bgColor">Mar 23, 2023(0)</td>
                        @*3*@
                        <td style="background:@bgColor"> @item.requestorFname @item.requestorLname</td>
                        @*4*@
                        <td style="background:@bgColor">Dec 21, 2023 969h 0m 01m</td>
                        @*5*@
                        <td style="background:@bgColor">
                            <div class="table_phone">
                                <a href="">
                                    <i class="bi bi-telephone-fill"></i>
                                    @item.mobileNo
                                </a>
                            </div>
                            (patients)


                        </td>
                        @if ((item.street != null || item.city != null) || item.state != null)
                        {
                            <td style="background:@bgColor">@item.street, @item.city, @item.state </td>
                        }
                        else
                        {
                            <td style="background:@bgColor"> - </td>

                        }


                        @*7*@
                        <td style="background:@bgColor">-</td>
                        @*8*@
                        <td style="background:@bgColor">

                            <div class="d-flex">
                                <div class="dropdown mb-1 w-75">
                                    <button class="btn text-white border border-white py-1"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-person-fill"></i>
                                        <span>
                                            Patient
                                        </span>
                                    </button>

                                </div>

                            </div>
                            <div>
                                <div class="dropdown w-75">
                                    <button class="btn text-white border border-white py-1"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-person-badge-fill"></i>
                                        <span>
                                            Provider
                                        </span>
                                    </button>

                                </div>
                            </div>
                        </td>
                        @*9*@
                        <td style="background:@bgColor">
                            <div>
                                <div class="dropdown mt-3">
                                    <button class="btn text-white border border-white py-1  dropdown-toggle w-50 d-flex justify-content-around align-items-center"
                                            id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <span>
                                            Actions
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu table_dropdowns">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("ViewCase", new {Requestclientid = item.Requestclientid , RequestTypeId = item.requestTypeId})">
                                                <i class="bi bi-file-earmark-text"></i>
                                                ViewCase
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="ViewUploads" asp-route-reqId="@item.reqId">
                                                <i class="bi bi-file-earmark-text"></i>
                                                ViewUploads
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("ViewNote", new {ReqId = item.reqId})">
                                                <i class="bi bi-file-earmark-text"></i>
                                                ViewNotes
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="Order" asp-route-reqId="@item.reqId">
                                                <i class="bi bi-file-earmark-text"></i>
                                                Orders
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("EncounterForm", new {ReqId = item.reqId})">
                                                <i class="bi bi-file-earmark-text"></i>
                                                Encounter
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </td>
                    </tr>
                }

            }
        </tbody>

    </table>
</div>

<div id="modelContent"></div>
<div id="modelContentActiveSendlink"></div>

<!-- accordions -->
<div class="accordion accordion-flush d-md-none d-block" id="accordionFlushExample">
    <h2>Accordion Example</h2>
    @foreach (var item in Model.adminDashboardList)
    {
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseOne">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone @item.Requestclientid" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#e7f1ff; color:black">

                                <div class="col d-flex flex-column">
                                    <span class="">@item.firstName, @item.lastName</span>
                                    <span class=" mt-4">@item.street @item.city @item.state</span>
                                    <span class="mt-3"><i class="bi bi-clock text-info h6 mr-2 icns"></i>Wait Time: DEC5, 2023</span>
                                </div>
                                <div class="col d-flex flex-column text-end mt-2 p-0">
                                    <div>
                                        @switch (item.requestTypeId)
                                        {
                                            case 1:
                                                <span>Patient</span>
                                                <i class="bi bi-circle-fill text-success h6"></i>
                                                break;
                                            case 2:
                                                <span>Family/Friend</span>
                                                <i class="bi bi-circle-fill text-warning h6"></i>
                                                break;
                                            case 3:
                                                <span>Business</span>
                                                <i class="bi bi-circle-fill " style="color:pink;"></i>
                                                break;
                                            case 4:
                                                <span>Concierge</span>
                                                <i class="bi bi-circle-fill text-primary h6"></i>
                                                break;
                                        }

                                    </div>
                                    <div>
                                        <div class=" btn rounded-pill text-info border-info float-end p-1 mt-3" style="width:150px">
                                            Map Location
                                        </div>
                                    </div>

                                </div>
                            </button>
                            <hr class="m-0">
                        </h2>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">

                    <div id="flush-collapseone-@item.reqId" class="card-body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black">
                        <div class="d-flex justify-content-end d-inline">
                            <div class="rounded-pill me-3 viewCaseBtn p-1 viewCase">
                                View Case
                            </div>
                        </div>
                        <div class="accordion-body d-flex flex-column gap-1">
                            <div><i class="bi bi-calendar2-minus mr-1 icn"></i>Date of birth: @item.strMonth @item.intDate, @item.intYear</div>
                            <div><i class="bi bi-envelope mr-1 icn"></i>Email: </div>
                            <div>
                                <i class="bi bi-telephone mr-1 icn"></i>Patient: @item.mobileNo

                            </div>
                            <div><i class="bi bi-person mr-1 icn"></i>Requestor: @item.firstName, @item.lastName</div>
                        </div>
                        <div class="row mx-3">
                            <div class="col-6 ps-0 pr-3 pb-2">
                                <a class="btn w-100  text-white rounded-pill p-1 btn-sm" style="background:#c40eff;">Assign Case</a>
                            </div>
                            <div class="col-6 p-0 pb-2 pb-2">
                                <a class="btn w-100 bg-danger text-white rounded-pill p-1 btn-sm">Cancel Case</a>
                            </div>
                            <div class="col-6 p-0 pr-3 pb-2">
                                <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">View Notes</a>
                            </div>
                            <div class="col-6 p-0 pb-2">
                                <a class="btn w-100  bg-danger text-white rounded-pill p-1 btn-sm">Block Patient</a>
                            </div>
                            <div class="col-6 p-0 pr-3">
                                <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">Email</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.TotalPage > 1)
{
    <div class="page-container">
        <ul class="pagination justify-content-center d-flex page-list">
            <li class="page-item @(Model.CurrentPage <= 1 ? "d-none" : "")">
                <a class="page-link border-0 m-2" onclick="changepage(@Model.CurrentPage - 1,3)"><i class="bi bi-chevron-double-left text-info page"></i></a>
            </li>
            @for (int CurrentPage = 1; CurrentPage <= Model.TotalPage; CurrentPage++)
            {
                <li class="m-2 btn @(CurrentPage == Model.CurrentPage ? "page-active" : "")" onclick="changepage(@CurrentPage,3)"><a class="text-decoration-none text-black curent-page-index" data-page="@CurrentPage">@CurrentPage</a></li>
            }
            <li class="page-item  @(Model.CurrentPage == Model.TotalPage ? "d-none" : "")">
                <a class="page-link border-0 m-2" onclick="changepage(@Model.CurrentPage + 1,3)"><i class="bi bi-chevron-double-right text-info page"></i></a>
            </li>
        </ul>

    </div>
}
else if (Model.TotalPage == 1)
{
}
else
{
    <div class="text-center text-danger fw-bold h5">No record found</div>
}

<style>

    .page-active {
        border-radius: 50%;
        background: #0dcaf0;
        color: white;
    }

        .page-active:hover {
            color: white;
        }
</style>

<script>
    $("#actexportbtn").click(function () {
        //alert("exportbtn was clicked.");
        var request = @Html.Raw(Json.Serialize(Model));
        console.log(request);
        Export(request);
    });

    function SendLinkActive() {

        $.ajax({
            method: "GET",
            url: "/Admin/SendLink",
            // async: false,
            // data: { requestid: requestid },

            success: function (result) {
                $('#modelContentActiveSendlink').html(result);
                $('#SendLinkModal').modal('show');
            },
            error: function () {
                alert('Error loading partial view');
            }
        })
    }

</script>