@using DataAccess.CustomModel;
@model StatusCountModel;

<style>
    .patient_circle {
        position: relative;
        margin-right: 8px;
        width: 1rem;
        height: 1rem;
        background-color: #60be5e;
        border: 1px solid #60be5e;
        border-radius: 100%;
    }

    .family_circle {
        position: relative;
        margin-right: 8px;
        width: 11px;
        height: 11px;
        background-color: #e69232;
        border: 1px solid #e69232;
        border-radius: 25px;
    }

    .business_circle {
        position: relative;
        margin-right: 8px;
        width: 11px;
        height: 11px;
        background-color: #d76879;
        border: 1px solid #d76879;
        border-radius: 25px;
    }

    .concierge_circle {
        position: relative;
        margin-right: 8px;
        width: 11px;
        height: 11px;
        background-color: #0b7ebf;
        border: 1px solid #0b7ebf;
        border-radius: 25px;
    }
</style>

<div class="status-tab row mt-3 mx-0  mx-md-3">
    <div class="col-4 col-md-2 p-1 p-md-3" >
        <button class=" statustablinks darkblue " onclick="openTab(event, 'tab1')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-plus-circle-dotted"></i> New
               </span>
                <span class="fs-5 fw-bolder">
                   @Model.NewCount
                </span>
            </div>
        </button>
    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks lightblue" onclick="openTab(event, 'tab2')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-person-exclamation"></i> Pending
                </span>
                <span class="fs-5 fw-bolder">
                    @Model.PendingCount
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2  p-1 p-md-3">
        <button class="col-md-2 statustablinks green" onclick="openTab(event, 'tab3')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-check2-circle"></i> Active
                </span>
                <span class="fs-5 fw-bolder">
                    @Model.ActiveCount
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks pink" onclick="openTab(event, 'tab4')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-arrow-clockwise"></i> Conclude
                </span>
                <span class="fs-5 fw-bolder">
                    @Model.ConcludeCount
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks blue" onclick="openTab(event, 'tab5')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-person-lock"></i> To Close
                </span>
                <span class="fs-5">
                    <span class="fs-5 fw-bolder">
                       @Model.ToCloseCount
                    </span>
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks purple" onclick="openTab(event, 'tab6')">
            <div class="d-flex flex-column align-items-start">
                <span class="d-flex gap-2">
                    <i class="d-none d-md-block bi bi-currency-dollar"></i> Unpaid
                </span>
                <span class="fs-5 fw-bolder">
                   @Model.UnpaidCount
                </span>

            </div>
        </button>

    </div>

</div>


<div id="tab1" class="statustabcontent">
    <!-- table -->
   

</div>

<div id="tab2" class="statustabcontent">
@*     <partial name="_PendingRequests" /> *@
</div>

<div id="tab3" class="statustabcontent">
@*    <partial name="_ActiveRequests" /> *@
</div>
<div id="tab4" class="statustabcontent">
@*     <partial name="_ConcludeRequests" /> *@
</div>
<div id="tab5" class="statustabcontent">
@*     <partial name="_TocloseRequests" /> *@
</div>
<div id="tab6" class="statustabcontent">
    @* <partial name="_UnpaidRequests" /> *@
</div>

<style>

    $(document).ready(function () {

         $('#dtBasicExample').DataTable({
             "initComplete": function (settings, json) {

                 $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                 $('#my-search-input').on('keyup', function () {
                     var searchValue = $(this).val();
                     settings.oPreviousSearch.sSearch = searchValue;
                     settings.oApi._fnReDraw(settings);
                 });
             },
             "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
             "pageLength": 5,
             language: {
                 oPaginate: {
                     sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                     sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'
                 }
             }
         });
         $('.dataTables_filter').hide();
     });
</style>