@using DataAccess.CustomModel;

@model ViewUploadModel;

@* @{
    ViewData["Title"] = "PViewDocument";
} *@

<style>
    #downloadSelected {
        color: rgb(0, 183, 255);
        background-color: white;
        border: 1px solid rgb(0, 183, 255);
        border-radius: 5px;
    }

        #downloadSelected:hover {
            background-color: rgb(0, 183, 255);
            color: white;
        }
</style>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/dark-mode.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<link rel="stylesheet" href="~/css/PatientDashboard.css">


<button type="button" class="btn shadow border-info ms-2" hidden
        style="border-radius: 10px; border-color: aqua" id="colorButton">
    <i id="moon" class="bi bi-moon text-info fs-5"></i>
    <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
</button>

<div class="container my-5 bg-white dark-mode1">

    <div class="container bg-white dark-mode1 p-4 ">
        <div class="d-flex justify-content-between mb-4">
            <h2 class="">Documents</h2>
            <button class="mx-bg-opacity-25 dark-mode1" id="downloadSelected" onclick="location.href='@Url.Action("ProviderDashboard", "Provider")'">&lt; Back</button>

        </div>
        <div class="row">
            <p class="col-12">Patient Name</p>
            <p class="col-12">
                <span class="fw-bolder fs-4">@Model.firstName @Model.lastName </span>
                @*<span>(f34r34t5gvr44)</span>*@
            </p>

            <!-- row--- -->
        </div>

        <!-- ----container    -->
    </div>

    <form method="post" asp-action="UploadFiles" asp-controller="Admin" class="input-group my-5 mt-3" enctype="multipart/form-data">
        @*<input name="file" type="file" class="form-control" id="formFileLg" multiple>*@
        <input asp-for="uploadedFiles" type="file" class="form-control form-control-lg" id="formFileLg" multiple>
        <button type="submit" class="input-group-text bg-primary text-white" for="inputGroupFile02"><i class="bi bi-cloud-arrow-up m-1"></i>&nbsp;Upload</button>
        <br />
    </form>
    <div class="row">
        <div class="col-12 d-flex justify-content-between">

            <h3>Documents</h3>
            <div class="d-flex gap-2">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table dataTable table-hover" id="data-table" aria-describedby="data-table_info">
            <thead>
                <tr>
                   
                    <th class="sorting" data-value="Description">
                        File
                    </th>

                    <th>
                        Upload Date<i class="bi bi-arrow-up-short"></i>
                    </th>
                    <th>
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.files.Count > 0)
                {
                    @foreach (var item in Model.files)
                    {
                        <tr>

                            <td>
                                <i class="bi bi-file-earmark-fill" style="color:red"></i>
                                @item.Filename
                            </td>

                            <td>@item.Createddate.ToString("MMM dd, yyyy")</td>
                            <td>

                                <a href="~/UploadedFiles/@item.Filename" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                    <i class="bi bi-cloud-download"></i>
                                </a>
                                <a class="btn ms-2 px-2 py-1 btn-outline-info shadow-none night-mode-btn" asp-controller="Admin" asp-action="DeleteFileById" asp-route-id="@item.Requestwisefileid">
                                    @*onclick="deleteFile(@item.Requestwisefileid)"*@
                                    <i class="bi bi-trash"></i>
                                </a>

                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align: center;">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr style="border: black 20px" />
    <form asp-action="ConcludeCareSubmit" onsubmit="return concludecarevalidation()">
    <div>
            <input asp-for="@Model.ReqId" hidden />
        <h6>Provider Notes</h6>
        <div class="form-floating">
                <textarea class="form-control" id="concludecareprovidernote" asp-for="ProviderNote" placeholder="Leave a comment here" id="providerNote" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Provider Notes</label>
                <small id="concludecareprovidernotereq" style="color:red" class="d-none">Provider note is required</small>
            </div>
    </div>
    <div class="text-end">
            <button type="submit" class="btn btn-primary my-3">Conclude Care</button>
    </div>
        </form>
</div>

@* <script>
    function concludeCareSubmit() {
        console.log("POp");
        var reqId = @Model.ReqId;
        var providerNote = $('#providerNote').val();
        alert(providerNote);
        $.ajax({
            url: '/provider/concludecaresubmit',
            type: 'POST',
            data: { ReqId: reqId, Providernote: providerNote },
            success: function (response) {

            },
            Error: function (response) {
                alert("bndfjd");
            }

        });
</script> *@
<partial name="_ValidationScriptsPartial" />

<script>
    $('#concludecareprovidernote').on('input', function () {
        var desc = $('#concludecareprovidernote').val();
        if (desc == "") {
            $('#concludecareprovidernotereq').addClass("d-block").removeClass("d-none");
        } else {
            $('#concludecareprovidernotereq').addClass("d-none").removeClass("d-block");
        }
    })

    function concludecarevalidation(){
        var desc = $('#concludecareprovidernote').val();
        if (desc == "") {
            $('#concludecareprovidernotereq').addClass("d-block").removeClass("d-none");
        } else {
            $('#concludecareprovidernotereq').addClass("d-none").removeClass("d-block");
        }
        if (desc != "") {
            return true;
        }
        else {
            return false;
        }
    }

    function downloadSelectedFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please select at least one file to download.');
            return;
        }

        // Construct URLs for all selected files and initiate download
        for (var j = 0; j < selectedFiles.length; j++) {

            var fileUrl = '/UploadedFiles/' + selectedFiles[j];
            var link = document.createElement('a');
            link.href = fileUrl;
            link.setAttribute('download', ''); // This attribute triggers the download
            link.click(); // Simulate a click event to initiate the download
        }

    }

    function deleteAllFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please select at least one file to Delete.');
            return;
        }

        var confirmDelete = confirm("Are you sure you want to delete all selected files?");
        if (!confirmDelete) {
            return;
        }
        deleteSelectedFiles(selectedFiles);

    }

    function deleteSelectedFiles(selectedFiles) {
        $.ajax({
            url: '/Admin/DeleteAllFiles',
            type: 'POST',
            data: { selectedFiles: selectedFiles },
            success: function (response) {

                window.location.reload();

            }
        });
    }

    function sendMail() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please select at least one file to Send.');
            return;
        }

        var confirmDelete = confirm("Are you sure you want to send all selected files?");
        if (!confirmDelete) {
            return;
        }

        sendSelectedFiles(selectedFiles);
    }
    function sendSelectedFiles(selectedFiles) {
        $.ajax({
            url: '/Admin/SendAllFiles',
            type: 'POST',
            data: { selectedFiles: selectedFiles },
            success: function (response) {

                window.location.reload();

            }
        });
    }



</script>