@using DataAccess.CustomModel;
@model List<viewUploads>;

<div class="container p-sm-2 p-md-3">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class=" mt-2 d-flex justify-content-between align-items-center">
                <h4>Conclude Care</h4>
                <div id="resultDiv"></div>
                <a onclick="DashboardMain()" class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </a>
            </div>

            <div class="container-fluid shadow border rounded mt-3 px-4 mb-5 pb-5">
                <div class="text-secondary pt-3 my-2 dark-mode2">Patient Name</div>
                <span class="text-info fs-2 my-2">@Model[0].fname @Model[0].lname</span> <span class="my-2 fs-5 text-secondary dark-mode2">
                    (@Model[0].cnf_number)
                </span>
                <form method="post" enctype="multipart/form-data" id="ProviderUploadForm">
                    <input id="reqId" type="hidden" asp-for="@Model[0].reqid" value="@Model[0].reqid" />
                    <div class="input-group mb-3  rounded my-4">
                        <input asp-for="@Model[0].Upload" type="file" class="form-control  py-3" id="inputGroupFile" multiple accept=".pdf">
                        <button type="button" onclick="ProviderUploadBtn()" class="input-group-text fw-bold bg-info upload">
                            <i class="bi bi-cloud-arrow-up me-2 fw-bold text-white"></i>
                            <span class="text-white">Upload</span>
                        </button>
                    </div>
                    <span asp-validation-for="@Model[0].Upload" class="text-danger"></span>
                </form>

                <div class="table-responsive">
                    <table class="table ">
                        <thead class="bg-body-tertiary ">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <span class="ms-2">Documents</span>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                        <tbody>                               
                                @foreach (var obj in Model)
                                {
                                    for (int i = 0; i < obj.documentsname.Count(); i++)
                                    {
                                    <tr class="align-middle dark-mode2">
                                        <td class="first-col">
                                            <input id="reqWiseFileId" type="hidden" value="@obj.requestWiseFileId[i]" />
                                            <input id="data" type="hidden" value="true" />
                                            <input id="data" asp-for="@obj.email" type="hidden" value="@obj.email" />
                                            <input id="inputMain" value="@obj.documentsname[i]" data-mailMain="@obj.email" data-reqid="@obj.reqid" data-reqwisefileid="@obj.requestWiseFileId[i]" type="checkbox" name="Mark" class="checkbox fileCheckbox" /><span class="document-combo ms-5">
                                                <i class="fa-solid fa-file fa-sm" style="color: #005ca3;"></i>
                                                <span class="document-name mx-2">@obj.documentsname[i]</span>
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-info" type="button" onclick="window.location.href='@Url.Action("DownloadFile","Provider",new {data = @obj.documentsname[i]})'"><i class="fa-solid fa-cloud-arrow-down"></i></button>
                                            <button class="btn btn-outline-info delete-btn" onclick="ConcludeDeleteBtn('@obj.reqid','@obj.requestWiseFileId[i]')"> <i class="fa-solid fa-trash-can"></i></button>
                                        </td>

                                    </tr>
                                    }

                                }
                        </tbody>
                    </table>
                </div>

                <form  method="post" id="concludeCareForm">
                    <h6 class="mt-3">Provider Notes</h6>
                    <div class="form-floating">
                        <input type="hidden" value="@Model[0].reqid" asp-for="@Model[0].reqid" />
                        <input type="text" class="form-control" asp-for="@Model[0].notes" id="floatingPassword" style="height: 100px" placeholder=" ">
                        <label class="floating-label" for="floatingInput" style="width: 100%;" >
                            Provider Notes
                        </label>
                        <span asp-validation-for="@Model[0].notes" class="text-danger"></span>
                    </div>

                    @if (Model[0].isFinalize != null && Model[0].isFinalize[0] )
                    {
                        <div class="d-flex justify-content-end mt-5">
                            <button type="button" onclick="concludeCareBtn(@Model[0].reqid)" class="btn btn-info text-white">Conclude Care</button>
                        </div>
                    }
                    else
                    {
                    <div class="d-flex justify-content-end mt-5">
                        <button type="button" onclick="FinalizePopup(@Model[0].reqid)" class="btn btn-info text-white">Conclude Care</button>
                    </div>
                    }

                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="finalizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <form method="post" id="HousecallModalForm">
                        <input type="hidden" value="" id="FinalizePopupReqId" />
                        <div class="d-flex justify-content-center ">
                            <i class="bi bi-info-circle-fill text-success d-flex justify-content-center display-4 mb-3 border border-2 border-success  rounded-circle  p-2" ></i>
                        </div>
                        <h5 class="d-flex justify-content-center mb-3">You Need To Finalize Before Conclude</h5>
                        <p class="text-secondary fw-lighter text-center  mb-3">
                            Are you sure you want to Finalize this request?
                        </p>

                        <div class="mt-4 d-flex justify-content-center">
                            <button type="button" onclick="ProviderEncounterForm()" class="btn text-white continue-btn mx-2" style="background-color:purple;">Finalize</button>
                            <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<partial name="_ValidationScriptsPartial" />


<script>
    function ProviderUploadBtn() {
        if ($("#ProviderUploadForm").valid()) {
            $.ajax({
                url: '/Provider/ConcludeViewUploadMain',
                type: 'POST',
                processData: false,
                contentType: false,
                data: new FormData($('#ProviderUploadForm')[0]),
                success: function (response) {
                    console.log(response);
                    ConcludeCare(response.data);
                    toastr.success("Data Uploaded Successfully");
                },
                error: function (error) {
                    toastr.error("Error");
                }
            });
        }

    }
    

    function ConcludeDeleteBtn(id, ReqWiseId) {
        $.ajax({
            url: '/Provider/DeleteFile',
            type: 'POST',
            data: { id: id, reqFileId: ReqWiseId },
            success: function (response) {
                ConcludeCare(response.data);
                toastr.success("Data Deleted Successfully");
            },
            error: function (error) {
                toastr.error("Error");
            }
        });
    }
    
    
    
    function concludeCareBtn() {
        if ($("#concludeCareForm").valid()) {
            $.ajax({
                url: '/Provider/ProviderConcludeCarePost',
                type: 'POST',
                data: $("#concludeCareForm").serialize(),
                success: function (response) {
                    DashboardMain();
                    toastr.success("Conclude Care Successfully");
                },
                error: function (error) {
                    toastr.error("Error");
                },
            });
        }
    }
    

    function FinalizePopup(reqid) {
        $.ajax({
            url: "/Provider/FinalizePopup",
            data: { data: reqid },
            type: 'GET',
            success: function (result) {
                $('#finalizeModal').modal('show');
                $("#FinalizePopupReqId").val(result.isSend);
            },
            error: function (e) {
                console.log(e);
                toastr.error("Error");
            },
        });
    }
    
    
    function concludeCareBtnWithFinalize(reqId) {
        $.ajax({
            url: '/Provider/ProviderConcludeCarePost',
            type: 'POST',
            data: $("#concludeCareForm").serialize(),
            success: function (response) {
                DashboardMain();
                toastr.success("Conclude Care Successfully");
            },
            error: function (error) {
                toastr.error("Error");
            },
        });
    }


    function FinalizeBtn(reqId) {
        let action = "/Provider/FinalizeEncounter";
            $.ajax({
                url: action,
                type: 'GET',
                data: { reqId: reqId },
                success: function (result) {
                    DashboardMain();
                    toastr.success("Encounter Form Update Successfully");
                },
                error: function () {
                    toastr.error("Error");
                },
            });
    }
    
    
    function finalizeModalBtn(reqId) {
        $.ajax({
            url: action,
            type: 'GET',
            data: { reqId: reqId },
            success: function (result) {
                $('#finalizeModal').modal('hide');
                toastr.success("Request Finalize Successfully");
            },
            error: function () {
                toastr.error("Error");
            },
        });
    }


    function ProviderEncounterForm() {
       
            var a = $("#FinalizePopupReqId").val();
            alert(a);
            $.ajax({
                url: "/Provider/concludeEncounter",
                data: { data: a },
                type: 'GET',
                success: function (result) {
                    $("#finalizeModal").modal("hide");
                    $("#content").html(result);
                },
                error: function () {
                    alert('Error loading partial view');
                }
            });
        
    }



</script>
