@using DataAccess.DataModels;

@{
    ViewData["Title"] = "_Profile";
}
@model User;

<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <form enctype="multipart/form-data" asp-controller="Patient" asp-action="Editing" class="container my-5 p-4" id="main-cont">
        <fieldset id="fset" disabled>
            <div class="row">
                <h5 class="col-12">General Information</h5>

                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Firstname" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput"></label>
                    </div>

                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Lastname" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Contact Information</h5>
                </div>

                <div class="col-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Type</option>
                            <option value="1">Mobile</option>
                            <option value="2">Landline</option>
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Mobile" type="tel" name="phone" class="form-control p-3 ps-5" id="floatingInput">

                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Email" name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Patient Location</h5>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Street" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Street</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.City" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">City</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.State" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">State</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="@Model.Zipcode" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Zip Code</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-floating mb-3">
                        <button type="button" class="btn btn-outline-primary" style="height:3.4rem ;"> <i class="bi bi-geo-alt"></i> Map</button>
                    </div>
                </div>

            </div>
        </fieldset>
        <div class="col-lg-12 d-flex justify-content-end  my-3  ">
            <button type="button" class="btn btn-info text-light px-4  me-4" id="edit">Edit</button>
        </div>
        <div class="d-flex savebutton justify-content-end  gap-3 me-2 mb-5">
            <button  class="btn btn-info text-white d-none" type="submit" id="save">Save</button>
            <button class="btn border-info text-info d-none" type="button" id="cancel">Cancel</button>
        </div>
    </form>
</div> 